In [1]:
import pandas as pd
import numpy as np
import math
import geopandas as gpd
from shapely.geometry import Point
from sklearn.preprocessing import StandardScaler, MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense

2024-06-01 12:00:46.048450: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-01 12:00:46.051347: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-06-01 12:00:46.094327: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-06-01 12:00:47.296785: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

# Initialize Variables

In [2]:
df_list = ['dfmajorcrimes', 'dfhomicidies']

# Data Loading

In [3]:
def show_all_columns(df):
    with pd.option_context('display.max_columns', None):
        display(df)
def show_all_rows(df):
    with pd.option_context('display.max_rows', None):
        display(df)

In [4]:
dfmajorcrimes = pd.read_csv('raw_data/majorcrimes.csv')
dfhomicides = pd.read_csv('raw_data/homicidies.csv')

In [5]:
# Define the target columns including the ones that need to be added
columns = ['EVENT_UNIQUE_ID','DATASET','OFFENCE', 'MCI_CATEGORY','OCC_HOUR','OCC_DAY','OCC_MONTH','OCC_YEAR','OCC_DOW','OCC_DOY','LAT_WGS84','LONG_WGS84']

# Add missing columns with default values
for df in [dfhomicides, dfmajorcrimes]:
    for column in columns:
        if column not in df.columns:
            df[column] = None

# Select columns in the specified order for all DataFrames
dfhomicides_s = dfhomicides[columns]
dfmajorcrimes_s = dfmajorcrimes[columns]

# Set the 'DATASET' column for each DataFrame using .loc to avoid SettingWithCopyWarning
dfhomicides_s.loc[:, 'DATASET'] = 'HOMICIDES'
dfmajorcrimes_s.loc[:, 'DATASET'] = 'MAJOR_CRIMES'

# Concatenate the DataFrames into a single DataFrame
dfmatrix = pd.concat([dfhomicides_s, dfmajorcrimes_s], ignore_index=True)

# Display the resulting DataFrame
dfmatrix

,EVENT_UNIQUE_ID,DATASET,OFFENCE,MCI_CATEGORY,OCC_HOUR,OCC_DAY,OCC_MONTH,OCC_YEAR,OCC_DOW,OCC_DOY,LAT_WGS84,LONG_WGS84
0,GO-2004111878,HOMICIDES,None,None,None,3.0,January,2004.0,Saturday,3.0,43.685026,-79.392828
1,GO-2004125755,HOMICIDES,None,None,None,8.0,January,2004.0,Thursday,8.0,43.781782,-79.233852
2,GO-2004136086,HOMICIDES,None,None,None,8.0,January,2004.0,Thursday,8.0,43.810544,-79.205574
3,GO-2004148623,HOMICIDES,None,None,None,25.0,January,2004.0,Sunday,25.0,43.670467,-79.434387
4,GO-2004148619,HOMICIDES,None,None,None,25.0,January,2004.0,Sunday,25.0,43.822997,-79.204958
...,...,...,...,...,...,...,...,...,...,...,...,...
386096,GO-2024688981,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,16,30.0,March,2024.0,Saturday,90.0,43.755641,-79.196001
386097,GO-2024690900,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.595354,-79.529766
386098,GO-2024690985,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.688644,-79.391479
386099,GO-2024690995,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,23,30.0,March,2024.0,Saturday,90.0,43.684335,-79.372581
386100,GO-2024688279,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,19,30.0,March,2024.0,Saturday,90.0,43.781143,-79.152912

In [6]:
dfmatrix.loc[dfmatrix['DATASET'] == 'HOMICIDES', 'OFFENCE'] = 'Homicide'
dfmatrix.loc[dfmatrix['DATASET'] == 'HOMICIDES', 'MCI_CATEGORY'] = 'Homicide'
dfmatrix

,EVENT_UNIQUE_ID,DATASET,OFFENCE,MCI_CATEGORY,OCC_HOUR,OCC_DAY,OCC_MONTH,OCC_YEAR,OCC_DOW,OCC_DOY,LAT_WGS84,LONG_WGS84
0,GO-2004111878,HOMICIDES,Homicide,Homicide,None,3.0,January,2004.0,Saturday,3.0,43.685026,-79.392828
1,GO-2004125755,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.781782,-79.233852
2,GO-2004136086,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.810544,-79.205574
3,GO-2004148623,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.670467,-79.434387
4,GO-2004148619,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.822997,-79.204958
...,...,...,...,...,...,...,...,...,...,...,...,...
386096,GO-2024688981,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,16,30.0,March,2024.0,Saturday,90.0,43.755641,-79.196001
386097,GO-2024690900,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.595354,-79.529766
386098,GO-2024690985,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.688644,-79.391479
386099,GO-2024690995,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,23,30.0,March,2024.0,Saturday,90.0,43.684335,-79.372581
386100,GO-2024688279,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,19,30.0,March,2024.0,Saturday,90.0,43.781143,-79.152912

# Data Cleaning and Transformation

In [7]:
# checking for latitude and longitude errors

# Toronto boundaries
north_boundary = 43.8554
south_boundary = 43.5810
east_boundary = -79.1161
west_boundary = -79.6393


# Check if latitude and longitude are within the boundaries
within_boundaries = (dfmatrix['LAT_WGS84'] <= north_boundary) & (dfmatrix['LAT_WGS84'] >= south_boundary) & \
                    (dfmatrix['LONG_WGS84'] >= west_boundary) & (dfmatrix['LONG_WGS84'] <= east_boundary)

# Filter the DataFrame
dfmatrix = dfmatrix.loc[within_boundaries].reset_index(drop=True)
dfmatrix

,EVENT_UNIQUE_ID,DATASET,OFFENCE,MCI_CATEGORY,OCC_HOUR,OCC_DAY,OCC_MONTH,OCC_YEAR,OCC_DOW,OCC_DOY,LAT_WGS84,LONG_WGS84
0,GO-2004111878,HOMICIDES,Homicide,Homicide,None,3.0,January,2004.0,Saturday,3.0,43.685026,-79.392828
1,GO-2004125755,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.781782,-79.233852
2,GO-2004136086,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.810544,-79.205574
3,GO-2004148623,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.670467,-79.434387
4,GO-2004148619,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.822997,-79.204958
...,...,...,...,...,...,...,...,...,...,...,...,...
380240,GO-2024688981,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,16,30.0,March,2024.0,Saturday,90.0,43.755641,-79.196001
380241,GO-2024690900,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.595354,-79.529766
380242,GO-2024690985,MAJOR_CRIMES,Assault,Assault,16,31.0,March,2024.0,Sunday,91.0,43.688644,-79.391479
380243,GO-2024690995,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,23,30.0,March,2024.0,Saturday,90.0,43.684335,-79.372581
380244,GO-2024688279,MAJOR_CRIMES,Theft Of Motor Vehicle,Auto Theft,19,30.0,March,2024.0,Saturday,90.0,43.781143,-79.152912

In [8]:
# Display NA values

# Boolean mask where OCC_HOUR is NA
na_mask = dfmatrix['OCC_HOUR'].isna()

# Mask to filter the DataFrame
na_rows = dfmatrix[na_mask]

# Display the rows with NA values in OCC_HOUR column
na_rows

,EVENT_UNIQUE_ID,DATASET,OFFENCE,MCI_CATEGORY,OCC_HOUR,OCC_DAY,OCC_MONTH,OCC_YEAR,OCC_DOW,OCC_DOY,LAT_WGS84,LONG_WGS84
0,GO-2004111878,HOMICIDES,Homicide,Homicide,None,3.0,January,2004.0,Saturday,3.0,43.685026,-79.392828
1,GO-2004125755,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.781782,-79.233852
2,GO-2004136086,HOMICIDES,Homicide,Homicide,None,8.0,January,2004.0,Thursday,8.0,43.810544,-79.205574
3,GO-2004148623,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.670467,-79.434387
4,GO-2004148619,HOMICIDES,Homicide,Homicide,None,25.0,January,2004.0,Sunday,25.0,43.822997,-79.204958
...,...,...,...,...,...,...,...,...,...,...,...,...
1409,GO-2024545700,HOMICIDES,Homicide,Homicide,None,12.0,March,2024.0,Tuesday,72.0,43.659103,-79.364238
1410,GO-2024545700,HOMICIDES,Homicide,Homicide,None,12.0,March,2024.0,Tuesday,72.0,43.659103,-79.364238
1411,GO-2024558575,HOMICIDES,Homicide,Homicide,None,14.0,March,2024.0,Thursday,74.0,43.745156,-79.208993
1412,GO-2024671809,HOMICIDES,Homicide,Homicide,None,28.0,March,2024.0,Thursday,88.0,43.768847,-79.466916
1413,GO-2024673427,HOMICIDES,Homicide,Homicide,None,29.0,March,2024.0,Friday,89.0,43.733742,-79.538218

### OCC_HOUR Column

In [9]:
df_hour = dfmatrix[dfmatrix['DATASET']== 'MAJOR_CRIMES'].OCC_HOUR.value_counts()/len(dfmatrix[dfmatrix['DATASET']== 'MAJOR_CRIMES'])
df_hour

OCC_HOUR
0     0.069181
21    0.054481
12    0.054288
20    0.054272
18    0.054214
22    0.053892
23    0.052298
19    0.052179
17    0.050117
15    0.048177
16    0.046306
14    0.041018
1     0.040786
2     0.040556
13    0.038138
11    0.035145
3     0.033749
10    0.033440
9     0.032930
8     0.028205
4     0.027144
5     0.020833
7     0.020669
6     0.017982
Name: count, dtype: float64

In [10]:
df_hour = df_hour.to_frame().reset_index(drop=False)

df_hour

    OCC_HOUR     count
0          0  0.069181
1         21  0.054481
2         12  0.054288
3         20  0.054272
4         18  0.054214
5         22  0.053892
6         23  0.052298
7         19  0.052179
8         17  0.050117
9         15  0.048177
10        16  0.046306
11        14  0.041018
12         1  0.040786
13         2  0.040556
14        13  0.038138
15        11  0.035145
16         3  0.033749
17        10  0.033440
18         9  0.032930
19         8  0.028205
20         4  0.027144
21         5  0.020833
22         7  0.020669
23         6  0.017982

In [11]:
import math

for i, hour_row in df_hour.iterrows():
    size = len(dfmatrix[dfmatrix['DATASET']=='HOMICIDES'])
    for index, row in dfmatrix[((dfmatrix['DATASET']=='HOMICIDES') & (pd.isnull(dfmatrix.OCC_HOUR)))].head(math.trunc(size*hour_row['count'])).iterrows():
        dfmatrix.loc[index, 'OCC_HOUR'] = hour_row['OCC_HOUR']

In [12]:
len(dfmatrix[pd.isnull(dfmatrix['OCC_HOUR'])])

14

In [13]:
# Again for the 14 remainders still showing as Nan

for i, hour_row in df_hour.iterrows():
    size = len(dfmatrix[dfmatrix['DATASET']=='HOMICIDES'])
    for index, row in dfmatrix[((dfmatrix['DATASET']=='HOMICIDES') & (pd.isnull(dfmatrix.OCC_HOUR)))].head(math.trunc(size*hour_row['count'])).iterrows():
        dfmatrix.loc[index, 'OCC_HOUR'] = hour_row['OCC_HOUR']

In [14]:
len(dfmatrix[pd.isnull(dfmatrix['OCC_HOUR'])])

0

In [15]:
dfmatrix['OCC_HOUR'] = pd.to_numeric(dfmatrix['OCC_HOUR'], errors='coerce').fillna(0).astype(int)

In [16]:
# Apply np.floor and convert to int, while handling NaN values
dfmatrix['OCC_HOUR'] = dfmatrix['OCC_HOUR'].apply(lambda x: np.floor(x) if pd.notnull(x) else x).astype('Int64')

### Fixing OCC_DAY

In [17]:
#  Converting OCC_DAY from float to int
dfmatrix['OCC_DAY'] = pd.to_numeric(dfmatrix['OCC_DAY'], errors='coerce').fillna(0).astype(int)

In [18]:
# Apply np.floor and convert to int, while handling NaN values
dfmatrix['OCC_DAY'] = dfmatrix['OCC_DAY'].apply(lambda x: np.floor(x) if pd.notnull(x) else x).astype('Int64')

In [19]:
# Filter the DataFrame for non-zero OCC_DAY values
df_occ_day_non_zero = dfmatrix[dfmatrix['OCC_DAY'] != 0]

# Calculate the value counts and normalize them
occ_day_proportions = df_occ_day_non_zero['OCC_DAY'].value_counts(normalize=True).reset_index()
occ_day_proportions.columns = ['OCC_DAY', 'proportion']

# Total number of rows where OCC_DAY is 0
total_zeros = (dfmatrix['OCC_DAY'] == 0).sum()

# Track the index of the current proportion
current_proportion_index = 0

# Iterate over the rows where OCC_DAY is 0 and update OCC_DAY based on proportions
for index, row in dfmatrix[dfmatrix['OCC_DAY'] == 0].iterrows():
    # Get the current proportion
    current_proportion = occ_day_proportions.at[current_proportion_index, 'OCC_DAY']
    
    # Update OCC_DAY for the current row
    dfmatrix.at[index, 'OCC_DAY'] = current_proportion
    
    # Update the current proportion index
    current_proportion_index += 1
    
    # If we reach the end of the proportions, reset the index
    if current_proportion_index >= len(occ_day_proportions):
        current_proportion_index = 0

In [20]:
# Dropping the zero rows
# Total number of rows
total_rows = len(dfmatrix)

# Number of rows where OCC_DAY is 0
occ_day_zeros = (dfmatrix['OCC_DAY'] == 0).sum()

# Proportion of rows where OCC_DAY is 0
proportion_occ_day_zeros = occ_day_zeros / total_rows

print(f"Total rows: {total_rows}")
print(f"Rows with OCC_DAY = 0: {occ_day_zeros}")
print(f"Proportion of rows with OCC_DAY = 0: {proportion_occ_day_zeros:.2%}")

Total rows: 380245
Rows with OCC_DAY = 0: 0
Proportion of rows with OCC_DAY = 0: 0.00%

### OCC_DAY E DOY para Sin e COS

In [21]:
dfmatrix['OCC_DAY_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_DAY'] / 24)
dfmatrix['OCC_DAY_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_DAY'] / 24)

dfmatrix['OCC_DOY_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_DOY'] / 24)
dfmatrix['OCC_DOY_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_DOY'] / 24)

### OCC_MONTH

In [22]:
dfmatrix = dfmatrix.dropna(subset=['OCC_MONTH'])

In [23]:
months = {'January':1,
          'February': 2,
          'March': 3,
          'April':4,
          'May': 5,
          'June': 6,
          'July': 7,
          'August': 8,
          'September': 9,
          'October': 10,
          'November': 11,
          'December': 12}

In [24]:
dfmatrix['OCC_MONTH_NUM'] = dfmatrix.OCC_MONTH.apply(lambda x: months[x])

/tmp/ipykernel_32152/3486876624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['OCC_MONTH_NUM'] = dfmatrix.OCC_MONTH.apply(lambda x: months[x])

In [25]:
# Apply sine and cosine transformations
dfmatrix['MONTH_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_MONTH_NUM'] / 12)
dfmatrix['MONTH_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_MONTH_NUM'] / 12)
dfmatrix['HOUR_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_HOUR'] / 24)
dfmatrix['HOUR_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_HOUR'] / 24)

/tmp/ipykernel_32152/2780489690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['MONTH_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_MONTH_NUM'] / 12)
/tmp/ipykernel_32152/2780489690.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['MONTH_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_MONTH_NUM'] / 12)
/tmp/ipykernel_32152/2780489690.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['HOUR_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_HOUR'] / 24)
/tmp/ipykernel_32152/2780489690.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['HOUR_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_HOUR'] / 24)

In [26]:
days_of_week = {'Friday': 6,  
                'Saturday': 7,
                'Sunday': 1,  
                'Thursday': 5,
                'Wednesday': 4, 
                'Monday': 2,
                'Tuesday': 3}

dfmatrix['OCC_DOW_NUM'] = dfmatrix.OCC_DOW.apply(lambda x: days_of_week[x.strip()])

dfmatrix['OCC_DOW_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_DOW_NUM'] / 24)
dfmatrix['OCC_DOW_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_DOW_NUM'] / 24)

/tmp/ipykernel_32152/2095281232.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['OCC_DOW_NUM'] = dfmatrix.OCC_DOW.apply(lambda x: days_of_week[x.strip()])
/tmp/ipykernel_32152/2095281232.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['OCC_DOW_SIN'] = np.sin(2 * np.pi * dfmatrix['OCC_DOW_NUM'] / 24)
/tmp/ipykernel_32152/2095281232.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix['OCC_DOW_COS'] = np.cos(2 * np.pi * dfmatrix['OCC_DOW_NUM'] / 24)

### OCC_YEAR

In [27]:
dfmatrix.loc['OCC_YEAR'] = pd.to_numeric(dfmatrix['OCC_YEAR'], errors='raise').fillna(0).astype(int)

/tmp/ipykernel_32152/223081176.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  dfmatrix.loc['OCC_YEAR'] = pd.to_numeric(dfmatrix['OCC_YEAR'], errors='raise').fillna(0).astype(int)
/tmp/ipykernel_32152/223081176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfmatrix.loc['OCC_YEAR'] = pd.to_numeric(dfmatrix['OCC_YEAR'], errors='raise').fillna(0).astype(int)

In [28]:
dfmatrix = dfmatrix.dropna(subset=['OCC_YEAR'])

In [29]:
# Apply np.floor and convert to int, while handling NaN values
dfmatrix['OCC_YEAR'] = dfmatrix['OCC_YEAR'].apply(lambda x: np.floor(x) if pd.notnull(x) else x).astype('Int64')

In [30]:
# Filter rows where 'OCC_YEAR' is 2014 or later
dfmatrix = dfmatrix[dfmatrix['OCC_YEAR'] >= 2014]

### Dropping unnecessary columns

In [31]:
# List of columns to drop
columns_to_drop = ['DATASET', 'OFFENCE', 'DIVISION', 'HOOD_140', 'NEIGHBOURHOOD_140', 'HOOD_158', 'NEIGHBOURHOOD_158']

# Filter the list to include only existing columns in the DataFrame
existing_columns_to_drop = [col for col in columns_to_drop if col in dfmatrix.columns]

# Drop the existing columns
dfmatrix = dfmatrix.drop(columns=existing_columns_to_drop)

In [32]:
# Drop rows with NaN values
dfmatrix = dfmatrix.dropna(subset=['OCC_DOY'])

# Now convert the column to integers
dfmatrix['OCC_DOY'] = dfmatrix['OCC_DOY'].astype(int)

In [33]:
dfmatrix.head()

,EVENT_UNIQUE_ID,MCI_CATEGORY,OCC_HOUR,OCC_DAY,OCC_MONTH,OCC_YEAR,OCC_DOW,OCC_DOY,LAT_WGS84,LONG_WGS84,...,OCC_DOY_SIN,OCC_DOY_COS,OCC_MONTH_NUM,MONTH_SIN,MONTH_COS,HOUR_SIN,HOUR_COS,OCC_DOW_NUM,OCC_DOW_SIN,OCC_DOW_COS
662,GO-20141272537,Homicide,17,3,January,2014,Friday,3,43.667288,-79.373767,...,0.707107,7.071068e-01,1.0,0.5,0.866025,-0.965926,-0.258819,6.0,1.000000,6.123234e-17
663,GO-20141326860,Homicide,17,14,January,2014,Tuesday,14,43.759140,-79.289604,...,-0.500000,-8.660254e-01,1.0,0.5,0.866025,-0.965926,-0.258819,3.0,0.707107,7.071068e-01
664,GO-20141431240,Homicide,17,29,January,2014,Wednesday,29,43.769478,-79.220423,...,0.965926,2.588190e-01,1.0,0.5,0.866025,-0.965926,-0.258819,4.0,0.866025,5.000000e-01
665,GO-20141428622,Homicide,17,29,January,2014,Wednesday,29,43.694614,-79.517334,...,0.965926,2.588190e-01,1.0,0.5,0.866025,-0.965926,-0.258819,4.0,0.866025,5.000000e-01
666,GO-20141435425,Homicide,17,30,January,2014,Thursday,30,43.654318,-79.378757,...,1.000000,1.194340e-15,1.0,0.5,0.866025,-0.965926,-0.258819,5.0,0.965926,2.588190e-01

### Prepare for geographic data

In [34]:
# # Prepare geographic data
# df['geometry'] = dfmatrix.apply(lambda row: Point(row['LONG_WGS84'], row['LAT_WGS84']), axis=1)
# geo_df = gpd.GeoDataFrame(df, geometry='geometry')

# # Drop rows with missing coordinates
# geo_df = geo_df.dropna(subset=['LAT_WGS84', 'LONG_WGS84'])

In [35]:
#geo_df

### Aggrupate by 'EVENT_UNIQUE_ID', 'LAT_WGS84' e 'LONG_WGS84'and count occurrences per category

In [36]:
# Agrupar por 'EVENT_UNIQUE_ID', 'LAT_WGS84' e 'LONG_WGS84' e contar as ocorrências de cada categoria
dfmatrix['MCI_CATEGORY'] = dfmatrix['MCI_CATEGORY'].apply(lambda x: [x])
dfmatrix = dfmatrix.groupby(['EVENT_UNIQUE_ID', 'LAT_WGS84', 'LONG_WGS84']).agg({
    'MCI_CATEGORY': lambda x: sum(x, []),
    'OCC_YEAR': 'first',
    'OCC_MONTH': 'first',
    'OCC_DAY': 'first',
    'OCC_HOUR': 'first',
    'OCC_DOW': 'first',
    'OCC_DOY': 'first',
    'OCC_MONTH_NUM': 'first',
    'MONTH_SIN': 'first',
    'MONTH_COS': 'first',
    'HOUR_SIN': 'first',
    'HOUR_COS':'first',
    'OCC_DAY_SIN':'first',
    'OCC_DAY_COS':'first',
    'OCC_DOY_SIN':'first',
    'OCC_DOY_COS':'first',
    'OCC_DOW_NUM':'first',
    'OCC_DOW_SIN':'first',
    'OCC_DOW_COS':'first'
}).reset_index()

In [37]:
# Binarizar as categorias de crimes usando MultiLabelBinarizer
mlb = MultiLabelBinarizer()
crime_counts = pd.DataFrame(mlb.fit_transform(dfmatrix['MCI_CATEGORY']), columns=mlb.classes_)
crime_counts

        Assault  Auto Theft  Break and Enter  Homicide  Robbery  Theft Over
0             1           0                0         0        0           0
1             1           0                0         0        0           0
2             0           0                1         0        0           0
3             0           0                1         0        0           0
4             1           0                0         0        0           0
...         ...         ...              ...       ...      ...         ...
329590        1           0                0         0        0           0
329591        0           1                0         0        0           0
329592        0           1                0         0        0           0
329593        0           1                0         0        0           0
329594        0           1                0         0        0           0

[329595 rows x 6 columns]

In [38]:
# Ajustar a contagem de crimes
for column in crime_counts.columns:
    crime_counts[column] = dfmatrix['MCI_CATEGORY'].apply(lambda x: x.count(column))

In [39]:
# Concatenar as contagens de crimes com o DataFrame original
dfmatrix = pd.concat([dfmatrix.drop(columns=['MCI_CATEGORY']), crime_counts], axis=1)

# Inferir tipos de objeto e preencher valores nulos
dfmatrix = dfmatrix.infer_objects().fillna(0)

In [40]:
dfmatrix

,EVENT_UNIQUE_ID,LAT_WGS84,LONG_WGS84,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_HOUR,OCC_DOW,OCC_DOY,OCC_MONTH_NUM,...,OCC_DOY_COS,OCC_DOW_NUM,OCC_DOW_SIN,OCC_DOW_COS,Assault,Auto Theft,Break and Enter,Homicide,Robbery,Theft Over
0,GO-20141035797,43.720857,-79.508610,2014,January,8,16,Wednesday,8,1.0,...,-5.000000e-01,4.0,0.866025,0.500000,1,0,0,0,0,0
1,GO-20141056448,43.768835,-79.378360,2014,January,6,7,Monday,6,1.0,...,6.123234e-17,2.0,0.500000,0.866025,1,0,0,0,0,0
2,GO-20141086943,43.708729,-79.459304,2014,April,1,9,Tuesday,91,4.0,...,2.588190e-01,3.0,0.707107,0.707107,0,0,1,0,0,0
3,GO-20141217261,43.667635,-79.372195,2014,January,2,22,Thursday,2,1.0,...,8.660254e-01,5.0,0.965926,0.258819,0,0,1,0,0,0
4,GO-20141252092,43.647339,-79.437270,2014,January,1,20,Wednesday,1,1.0,...,9.659258e-01,4.0,0.866025,0.500000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329590,GO-202499873,43.781633,-79.415990,2024,January,11,9,Thursday,11,1.0,...,-9.659258e-01,5.0,0.965926,0.258819,1,0,0,0,0,0
329591,GO-202499894,43.745988,-79.549512,2024,January,13,20,Saturday,13,1.0,...,-9.659258e-01,7.0,0.965926,-0.258819,0,1,0,0,0,0
329592,GO-202499897,43.675339,-79.300004,2024,January,14,9,Sunday,14,1.0,...,-8.660254e-01,1.0,0.258819,0.965926,0,1,0,0,0,0
329593,GO-20249997,43.668917,-79.442637,2024,January,1,18,Monday,1,1.0,...,9.659258e-01,2.0,0.500000,0.866025,0,1,0,0,0,0
329594,GO-202499972,43.672705,-79.522472,2024,January,14,3,Sunday,14,1.0,...,-8.660254e-01,1.0,0.258819,0.965926,0,1,0,0,0,0

### Drop Rows with NaN values and conversion of collumns to integers

In [41]:
# Drop rows with NaN values
dfmatrix = dfmatrix.dropna(subset=['OCC_DOY'])

# Now convert the column to integers
dfmatrix['OCC_DOY'] = dfmatrix['OCC_DOY'].astype(int)

# Drop rows with NaN values²
dfmatrix = dfmatrix.dropna(subset=['OCC_MONTH_NUM'])
# Now convert the column to integers²
dfmatrix['OCC_MONTH_NUM'] = dfmatrix['OCC_MONTH_NUM'].astype(int)

In [42]:
show_all_columns(dfmatrix)

,EVENT_UNIQUE_ID,LAT_WGS84,LONG_WGS84,OCC_YEAR,OCC_MONTH,OCC_DAY,OCC_HOUR,OCC_DOW,OCC_DOY,OCC_MONTH_NUM,MONTH_SIN,MONTH_COS,HOUR_SIN,HOUR_COS,OCC_DAY_SIN,OCC_DAY_COS,OCC_DOY_SIN,OCC_DOY_COS,OCC_DOW_NUM,OCC_DOW_SIN,OCC_DOW_COS,Assault,Auto Theft,Break and Enter,Homicide,Robbery,Theft Over
0,GO-20141035797,43.720857,-79.508610,2014,January,8,16,Wednesday,8,1,0.500000,0.866025,-0.866025,-0.5,0.866025,-0.5,0.866025,-5.000000e-01,4.0,0.866025,0.500000,1,0,0,0,0,0
1,GO-20141056448,43.768835,-79.378360,2014,January,6,7,Monday,6,1,0.500000,0.866025,0.965926,-0.258819,1.0,0.0,1.000000,6.123234e-17,2.0,0.500000,0.866025,1,0,0,0,0,0
2,GO-20141086943,43.708729,-79.459304,2014,April,1,9,Tuesday,91,4,0.866025,-0.500000,0.707107,-0.707107,0.258819,0.965926,-0.965926,2.588190e-01,3.0,0.707107,0.707107,0,0,1,0,0,0
3,GO-20141217261,43.667635,-79.372195,2014,January,2,22,Thursday,2,1,0.500000,0.866025,-0.5,0.866025,0.5,0.866025,0.500000,8.660254e-01,5.0,0.965926,0.258819,0,0,1,0,0,0
4,GO-20141252092,43.647339,-79.437270,2014,January,1,20,Wednesday,1,1,0.500000,0.866025,-0.866025,0.5,0.258819,0.965926,0.258819,9.659258e-01,4.0,0.866025,0.500000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329590,GO-202499873,43.781633,-79.415990,2024,January,11,9,Thursday,11,1,0.500000,0.866025,0.707107,-0.707107,0.258819,-0.965926,0.258819,-9.659258e-01,5.0,0.965926,0.258819,1,0,0,0,0,0
329591,GO-202499894,43.745988,-79.549512,2024,January,13,20,Saturday,13,1,0.500000,0.866025,-0.866025,0.5,-0.258819,-0.965926,-0.258819,-9.659258e-01,7.0,0.965926,-0.258819,0,1,0,0,0,0
329592,GO-202499897,43.675339,-79.300004,2024,January,14,9,Sunday,14,1,0.500000,0.866025,0.707107,-0.707107,-0.5,-0.866025,-0.500000,-8.660254e-01,1.0,0.258819,0.965926,0,1,0,0,0,0
329593,GO-20249997,43.668917,-79.442637,2024,January,1,18,Monday,1,1,0.500000,0.866025,-1.0,-0.0,0.258819,0.965926,0.258819,9.659258e-01,2.0,0.500000,0.866025,0,1,0,0,0,0
329594,GO-202499972,43.672705,-79.522472,2024,January,14,3,Sunday,14,1,0.500000,0.866025,0.707107,0.707107,-0.5,-0.866025,-0.500000,-8.660254e-01,1.0,0.258819,0.965926,0,1,0,0,0,0

In [43]:
dfmatrix.columns

Index(['EVENT_UNIQUE_ID', 'LAT_WGS84', 'LONG_WGS84', 'OCC_YEAR', 'OCC_MONTH',
       'OCC_DAY', 'OCC_HOUR', 'OCC_DOW', 'OCC_DOY', 'OCC_MONTH_NUM',
       'MONTH_SIN', 'MONTH_COS', 'HOUR_SIN', 'HOUR_COS', 'OCC_DAY_SIN',
       'OCC_DAY_COS', 'OCC_DOY_SIN', 'OCC_DOY_COS', 'OCC_DOW_NUM',
       'OCC_DOW_SIN', 'OCC_DOW_COS', 'Assault', 'Auto Theft',
       'Break and Enter', 'Homicide', 'Robbery', 'Theft Over'],
      dtype='object')

In [45]:
# Selecionar as colunas de features e de rótulos
feature_columns = dfmatrix[['LAT_WGS84', 'LONG_WGS84', 'OCC_YEAR', 'MONTH_SIN', 'MONTH_COS', 'HOUR_SIN', 'HOUR_COS', 'OCC_DAY_SIN', 'OCC_DAY_COS', 'OCC_DOY_SIN',  'OCC_DOY_COS', 'OCC_DOW_SIN','OCC_DOW_COS', 'Assault', 'Auto Theft', 'Break and Enter', 'Homicide', 'Robbery', 'Theft Over']]
label_columns = list(crime_counts.columns)

In [46]:
feature_columns

,LAT_WGS84,LONG_WGS84,OCC_YEAR,MONTH_SIN,MONTH_COS,HOUR_SIN,HOUR_COS,OCC_DAY_SIN,OCC_DAY_COS,OCC_DOY_SIN,OCC_DOY_COS,OCC_DOW_SIN,OCC_DOW_COS,Assault,Auto Theft,Break and Enter,Homicide,Robbery,Theft Over
0,43.720857,-79.508610,2014,0.500000,0.866025,-0.866025,-0.5,0.866025,-0.5,0.866025,-5.000000e-01,0.866025,0.500000,1,0,0,0,0,0
1,43.768835,-79.378360,2014,0.500000,0.866025,0.965926,-0.258819,1.0,0.0,1.000000,6.123234e-17,0.500000,0.866025,1,0,0,0,0,0
2,43.708729,-79.459304,2014,0.866025,-0.500000,0.707107,-0.707107,0.258819,0.965926,-0.965926,2.588190e-01,0.707107,0.707107,0,0,1,0,0,0
3,43.667635,-79.372195,2014,0.500000,0.866025,-0.5,0.866025,0.5,0.866025,0.500000,8.660254e-01,0.965926,0.258819,0,0,1,0,0,0
4,43.647339,-79.437270,2014,0.500000,0.866025,-0.866025,0.5,0.258819,0.965926,0.258819,9.659258e-01,0.866025,0.500000,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329590,43.781633,-79.415990,2024,0.500000,0.866025,0.707107,-0.707107,0.258819,-0.965926,0.258819,-9.659258e-01,0.965926,0.258819,1,0,0,0,0,0
329591,43.745988,-79.549512,2024,0.500000,0.866025,-0.866025,0.5,-0.258819,-0.965926,-0.258819,-9.659258e-01,0.965926,-0.258819,0,1,0,0,0,0
329592,43.675339,-79.300004,2024,0.500000,0.866025,0.707107,-0.707107,-0.5,-0.866025,-0.500000,-8.660254e-01,0.258819,0.965926,0,1,0,0,0,0
329593,43.668917,-79.442637,2024,0.500000,0.866025,-1.0,-0.0,0.258819,0.965926,0.258819,9.659258e-01,0.500000,0.866025,0,1,0,0,0,0
329594,43.672705,-79.522472,2024,0.500000,0.866025,0.707107,0.707107,-0.5,-0.866025,-0.500000,-8.660254e-01,0.258819,0.965926,0,1,0,0,0,0

In [47]:
label_columns

['Assault',
 'Auto Theft',
 'Break and Enter',
 'Homicide',
 'Robbery',
 'Theft Over']

In [48]:
# Separar features e rótulos
X = dfmatrix[feature_columns.columns]
y = dfmatrix[label_columns].values

# Normalizar as features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [ ]:
#Criar sequências para o modelo LSTM
def create_sequences(data, labels, window_size):
    sequences = []
    for i in range(len(data) - window_size):
        sequences.append((data[i:i + window_size], labels[i + window_size]))
    return sequences

window_size = 10  # Tamanho da janela
sequences = create_sequences(X_scaled, y, window_size)

# Separar as sequências em features (X) e rótulos (y)
X_seq = np.array([seq[0] for seq in sequences])
y_seq = np.array([seq[1] for seq in sequences])

# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X_seq, y_seq, test_size=0.2, random_state=42)

# Construir o modelo LSTM
model = Sequential()
model.add(LSTM(50, activation='relu', input_shape=(window_size, X_seq.shape[2])))
model.add(Dense(y_seq.shape[1]))
model.compile(optimizer='adam', loss='mse')

# Treinar o modelo
history = model.fit(X_train, y_train, epochs=20, validation_data=(X_test, y_test))

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o modelo
mse = np.mean((y_test - y_pred) ** 2)
print(f"Mean Squared Error: {mse}")

# Exibir previsões e valores reais
print("Previsões:", y_pred)
print("Valores Reais:", y_test)

2024-06-01 12:03:35.417005: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:984] could not open file to read NUMA node: /sys/bus/pci/devices/0000:08:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-06-01 12:03:35.417361: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2251] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...
/home/wallaby/.pyenv/versions/3.10.6/envs/precog_matrix/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/20

2024-06-01 12:03:35.709755: W external/local_tsl/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 200387680 exceeds 10% of free system memory.

4170/8240 ━━━━━━━━━━━━━━━━━━━━ 23s 6ms/step - loss: 0.1718